In [3]:
my_str = "venkat"

In [4]:
my_str.count

In [5]:
print(my_str.islower())

True

# LISTS      



a list is a data structures in python that is a mutable or changable ,oder sequence of elements .each elements or values hat are in list are know as item. lists are defined by having values in etween square brackets []

In [6]:
list_example=[]#this list because we usd suare brackets

In [7]:
type(list_example )

list

In [8]:
lst=list()#we can aso use this list by using inbuild funtion called as list()

In [9]:
type(lst)

list

 we can also add values manually by cooma separation

In [10]:
lst=['venkatesh peddinti','26051998','bsc computers','vijayawada']

In [11]:
type(lst)

list

In [12]:
len(lst) #we can count no of items in the list

4

# Append

In [13]:
#append is generally used to add item to the list 
lst.append('520010')
lst

['venkatesh peddinti', '26051998', 'bsc computers', 'vijayawada', '520010']

In [30]:
lst.append(['patamata','thota street'])#its creates nested ist

In [32]:
lst

['venkatesh peddinti',
 'male',
 '26051998',
 'bsc computers',
 'vijayawada',
 '520010',
 ['patamata', 'thota street'],
 ['patamata', 'thota street']]

# INSERT




If we want to add item into list in certain index w3e use inseRt

In [35]:
lst.insert(1,'male')# 1 will be the index positon that new value that aded

In [34]:
lst

['venkatesh peddinti',
 'male',
 '26051998',
 'bsc computers',
 'vijayawada',
 '520010',
 ['patamata', 'thota street'],
 ['patamata', 'thota street']]

In [21]:
#indexing in th liast 
lst[2]

'26051998'

In [22]:
#if we want to pict items from sertain points 
lst[:4]

['venkatesh peddinti', 'male', '26051998', 'bsc computers']

In [23]:
lst[1:]

['male', '26051998', 'bsc computers', 'vijayawada', '520010']

In [24]:
#to pict the items from certain ppoint to certain poijnt
lst[1:3]

['male', '26051998']

to remove the items in the listwe use POP 
#POP

In [40]:
lst=[1,2,3,4,4,4,5,5,6]

In [42]:
lst

[1, 2, 3, 4, 4, 4, 5, 5, 6]

In [45]:
lst.pop(0)

1

In [46]:
lst

[2, 3, 4, 4, 4, 5, 5, 6]

In [47]:
lst.pop(0)

2

In [48]:
lst

[3, 4, 4, 4, 5, 5, 6]

In [49]:
#length :caluulate total no of items in the list
len(lst)

7

# sets
a set is a unordered collection  data types that is iterable  ,mutable and has no duplicate elements  
    #and we cant index the items from the sets

In [1]:
set_1=set()#we have created a empty set

In [2]:
print(set_1)

set()

In [12]:
set1={"venkat","peddinti",'vijayawada'} # to create set we have to use flower {}

In [13]:
type(set1)

set

In [15]:
set2={1,1,12,1,3,4,5,5}

In [17]:
set2  ###it results only {1, 3, 4, 5, 12} where over input is {1,1,12,1,3,4,5,5} because itll not print the duplicate values

{1, 3, 4, 5, 12}

In [19]:
set01={"venkat","peddinti",'vijayawada',"peddinti"}

In [20]:
set01  #no duplicates

{'peddinti', 'venkat', 'vijayawada'}

 To add an item into the set we use inbult function like #add funtion

In [29]:
set01.add("male")

In [30]:
set01

{'3,male', 'male', 'peddinti', 'venkat', 'vijayawada'}

# differences

In [52]:
set1={"venkat","peddinti",'vijayawada'}
set01={"venkat","peddinti",'vijayawada',"peddinti","abc"}

In [53]:
set01.difference(set1)

{'abc'}

In [54]:
set01

{'abc', 'peddinti', 'venkat', 'vijayawada'}

Intersection

In [55]:
set1={"venkat","peddinti",'vijayawada'}
set01={"venkat","peddinti",'vijayawada',"peddinti","abc"}

In [56]:
set01.intersection(set1)

{'peddinti', 'venkat', 'vijayawada'}

# dictionary 
a dicionary is a collection of unordered changable adn indexed . in python dictionary are wrtten in curly brackets ae they have keys and values

In [57]:
di={}

In [58]:
type(di)

dict

In [60]:
type(dict()) #WE HAVE CREATED A EMPTY DICTIONARY

dict

In [64]:
#lets create a dictionary 
#IN DIC WE HAVE KEYS 
MY_dict={"1":'audi',"car2":'benz',"car3":'bmw'}

In [65]:
type(MY_dict)

dict

In [67]:
#To access the items based on keys 

MY_dict['1']

'audi'

In [76]:
 #we can even loop through the dictionary vaalues 
    
    
for y in MY_dict:
        print(y)

1
car2
car3

In [77]:
#w can also takes keys and items 

for y in MY_dict.items():print(y)

('1', 'audi')
('car2', 'benz')
('car3', 'bmw')

In [78]:
for y in MY_dict.values():print(y)

audi
benz
bmw

In [84]:
#to add keys and values to the dictonary we use 
MY_dict['car4']='ford'

In [85]:
MY_dict

{'1': 'audi', 'car2': 'benz', 'car3': 'bmw', 'car4': 'ford'}

In [ ]:
#for replacing some values in to present key we use same funtion

In [86]:
MY_dict['car2']='suzuki'

In [88]:
MY_dict #benz had replaced to suzuki

{'1': 'audi', 'car2': 'suzuki', 'car3': 'bmw', 'car4': 'ford'}

# Nested dictionary

In [93]:
car1model={'benz':1960}
car2model={'audi':1950}
car3model={'bmw':1970}
cartype={'car1':car1model,'car2':car2model,'car3':car3model}

In [95]:
cartype

{'car1': {'benz': 1960}, 'car2': {'audi': 1950}, 'car3': {'bmw': 1970}}

In [100]:
cartype['car1']

{'benz': 1960}

In [101]:
cartype['car3']['bmw']

1970